<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-vincode-platecode" version="1.0.0" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>VinCodePlateCode</name>

	<js-module name="VinCode" src="www/VinCode.js">
		<clobbers target="VinCode" />
	</js-module>

	<js-module name="PlateCode" src="www/PlateCode.js">
		<clobbers target="PlateCode" />
	</js-module>
	<js-module name="PlateVinCodeTest" src="www/PlateVinCodeTest.js">
		<clobbers target="PlateVinCodeTest" />
	</js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="VinCode">
				<param name="android-package" value="cn.mancando.cordovaplugin.vincode.VinCode" />
			</feature>
		</config-file>
        <config-file parent="/*" target="res/xml/config.xml">
			<feature name="PlateCode">
				<param name="android-package" value="cn.mancando.cordovaplugin.platecode.PlateCode" />
			</feature>
		</config-file>
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="PlateVinCodeTest">
				<param name="android-package" value="cn.mancando.cordovaplugin.platevincodetest.PlateVinCodeTest" />
			</feature>
		</config-file>

		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.VIBRATE" />
			<uses-permission android:name="android.permission.CAMERA" />
			<uses-permission android:name="android.permission.FLASHLIGHT" />
			<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
		</config-file>
		<source-file src="src/android/VinCode.java" target-dir="src/cn/mancando/cordovaplugin/vincode" />
		<source-file src="src/android/PlateCode.java" target-dir="src/cn/mancando/cordovaplugin/platecode" />
		<source-file src="src/android/PlateVinCodeTest.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest" />
		<source-file src="src/android/vincode-platecode.aar" target-dir="libs" />
		<source-file src="src/android/platevincode/CameraPreview.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/Decoder.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/DecoderFactory.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/DecoderResultPointCallback.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/DecoderThread.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/DefaultDecoderFactory.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/PlateVinCallback.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/PlateVinResult.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/PlateVinView.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/RotationCallback.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/RotationListener.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/Size.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<source-file src="src/android/platevincode/Util.java" target-dir="src/cn/mancando/cordovaplugin/platevincodetest/platevincode" />
		<framework src="src/android/vincode-platecode.gradle" custom="true" type="gradleReference" />
	</platform>

	<platform name="ios">
		
       	<config-file parent="/*" target="config.xml">
			<feature name="VinCode">
				<param name="ios-package" value="VinCode" />
			</feature>
		</config-file>
		<config-file parent="/*" target="config.xml">
			<feature name="PlateCode">
				<param name="ios-package" value="PlateCode" />
			</feature>
		</config-file>

        <resource-file src="src/ios/66A26DF01048DD276FA6.lic" />
		
        <header-file src="src/ios/vincode/VinCameraController.h" />
        <source-file src="src/ios/vincode/VinCameraController.mm" />
        <header-file src="src/ios/vincode/VinSquareView.h" />
        <source-file src="src/ios/vincode/VinSquareView.m" />
        <header-file src="src/ios/vincode/vinTyper.h" />
		<header-file src="src/ios/vincode/SVIndefiniteAnimatedView.h" />
        <source-file src="src/ios/vincode/SVIndefiniteAnimatedView.m" />
		<header-file src="src/ios/vincode/SVProgressAnimatedView.h" />
        <source-file src="src/ios/vincode/SVProgressAnimatedView.m" />
		<header-file src="src/ios/vincode/SVProgressHUD.h" />
        <source-file src="src/ios/vincode/SVProgressHUD.m" />
		<header-file src="src/ios/vincode/SVRadialGradientLayer.h" />
        <source-file src="src/ios/vincode/SVRadialGradientLayer.m" />
		<source-file src="src/ios/vincode/SVProgressHUD-Prefix.pch" />
        <source-file src="src/ios/vincode/libvinTyper.a" framework="true"/>
		<resource-file src="src/ios/vincode/VinImageResource.bundle" />
        <resource-file src="src/ios/vincode/SVProgressHUD.bundle" />
		
		<header-file src="src/ios/platecode/PlateCameraController.h" />
		<source-file src="src/ios/platecode/PlateCameraController.mm" />
		<header-file src="src/ios/platecode/PlateSquareView.h" />
		<source-file src="src/ios/platecode/PlateSquareView.m" />
		<header-file src="src/ios/platecode/SPlate.h" />
		<source-file src="src/ios/platecode/libSPlate.a" framework="true"/>
		<resource-file src="src/ios/platecode/PlateImageResource.bundle" />
        
		<framework src="CoreMedia.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
		<framework src="CoreMotion.framework" />
	</platform>
</plugin>